<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2 align="center">Ваша корзина</h2>
<table border="1" align="center">
    <tr>
        <td>Название</td>
        <td>Количество</td>
        <td>Цена</td>
        <td>Сумма</td>
        <td></td>
    </tr>

    <tr th:each="detail : ${bucket.bucketDetails}">
        <td th:text="${detail.title}">Cheese</td>
        <td th:text="${detail.amount}">5</td>
        <td th:text="${detail.price}">6.0</td>
        <td th:text="${detail.sum}">6.0</td>
        <td> <a th:href="@{/delete{productId}(productId=${detail.productId})}">
            <button type="submit">Удалить из корзины</button></a></td>
    </tr>

</table>
<td><h3 align="center">Сумма покупок :<b th:text="${bucket.sum}">1000</b></h3></td>
<p></p>
 <form th:action="@{/bucket}" method="post">
    <p align="center"> <button type="submit">Заказать</button></p>
</form>
</body>
</html>