<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<p></p>
<p></p>
<p></p>
<table border="1" align="center">
    <tr>
        <td>Наименование</td>
        <td>Цена</td>


    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}">Cheese</td>
        <td th:text="${product.price}">12.0</td>
        <td sec:authorize="isAuthenticated()">
            <a th:href="@{/products/{id}/bucket(id=${product.id})}"><button>Добавить в корзину</button></a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
            <a th:href="@{/products/update{id}(id=${product.id})}"><button>Редактировать товар</button></a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
            <a th:href="@{/products/delete{id}(id=${product.id})}"><button>Удалить товар</button></a></td>

    </tr>

</table>
<p align="center"><td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"> <a th:href="@{/products/newProduct}">
    <button>Добавить новый товар</button></a></td></p>

</body>
</html>