<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<table border="1" align="center">
<tr>
    <td>Имя пользователя</td>
    <td>Email</td>
    <td>Права пользователя</td>
</tr>
<tr th:each="user : ${users}">
    <td th:text="${user.username}">Testname</td>
    <td th:text="${user.email}">Testmail</td>
    <td th:text="${user.role}">Testrole</td>

</tr>
</table>
<p></p>
<td sec:authorize="hasAnyAuthority('ADMIN')"><p align="center">
    <a th:href="@{/users/new}"><button>Добавить пользователя</button></a></p></td>

</body>
</html>