<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="nav-menu" width="100%">
    <tr>
        <td align="center">
    <table>
        <tr>

            <td><a th:href="@{/}">Главная</a></td>
            <td><a th:href="@{/products}">Товары</a></td>
            <td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"><a th:href="@{/users}">Пользователи</a></td>
            <td sec:authorize="isAuthenticated()"><a th:href="@{/bucket}">Корзина</a></td>
        </tr>
    </table>
        </td>
    <td align="right">
        <div sec:authorize="isAuthenticated()">
            <div>
                Привет  <a th:href="@{/users/profile}"><span sec:authentication="principal.username">Bill</span></a>
            </div>
            <div>
                <p></p>
                <a th:href="@{/logout}"><button type="submit">Выход</button></a>

            </div>

        </div>

        <div sec:authorize="!isAuthenticated()">
            <div>
                <a>Войдите или зарегистрируйтесь</a>
                <p></p>
                <a th:href="@{/login}"><button type="submit">Вход</button></a>
                <p></p>
                <a th:href="@{/users/reg}"><button type="submit">Регистрация</button></a>
            </div>
        </div>
    </td>
</table>
</body>
</html>